# Transitional: Angular 15 core with libraries whose peer ranges still say ^14
# (@angular-material-components/datetime-picker, ngx-mat-select-search,
# @angular/flex-layout). Remove once NG21-1.5/1.6 bump them (SCRUM-20/21).
legacy-peer-deps=true
